@model educa_tube_code.Models.Nota

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/NotasStyle/NotasDetails.css" />
<link rel="stylesheet" type="text/css" href="~/css/NotasStyle/NotasDelete.css" />

<h4 class="confirmDelete" >Tem certeza que deseja deletar essa nota?</h4>
<div>
    <hr />
    <dl class="row">
        <dd class = "col-sm-10 noteTile">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conteudo)
        </dd>
        <dd class="col-sm-10 createDate">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="buttonsDiv">
            <input class="primaryButton deleteButton" type="submit" value="Deletar" />
            <a class="primaryButton backButton" asp-action="Index"><i class="bi bi-arrow-bar-left"></i> Voltar</a>
        </div>
    </form>
</div>