@model educa_tube_code.Models.Nota

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/css/NotasStyle/NotasDetails.css" />

<div class="mainDetails">
    <h2>
        @Html.DisplayFor(model => model.Titulo)
        <hr />
    </h2>
    
    <dl class="row rowContent">
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conteudo)
        </dd>
        <dd class="col-sm-10 createDate">
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
    </dl>

    <div class="buttonsDiv">
        <a class="primaryButton" asp-action="Edit" asp-route-id="@Model?.Id">Editar &nbsp; <i class="bi bi-pencil"></i></a>
        <a class="primaryButton backButton" asp-action="Index"><i class="bi bi-arrow-bar-left"></i> Voltar</a>
    </div>
</div>

