
 .centerImgLogin {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.form-group {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.form-control {
    width: 400px;
}
.LoginName {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
.styleConctado {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
