
body {
    padding: 1.5rem 2rem;
}

.menuTop {
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap:2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background-color:#FFF;
}

.sideMenu {
    padding: 1.5rem 2rem;
    padding-top:4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    margin-top: 4rem;
    background-color: #FFF;
}

.logoDiv {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.bi-list {
    color: black;
    font-size:1.80rem;
}

.title {
    font-size: 1.8rem;
    color: #0582ca;
}

.searchDiv {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 35.5rem;
    height:2.5rem;
    padding: 01rem 0.6rem;
    border: solid 1px #CCCCCC;
    border-radius: 0.6rem;
    box-shadow: 0 0.9px 0.9px rgba(0, 0, 0, 0.1);
}

.searchDiv form{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width:100%;
}

.searchBox {
    all: unset;
    width: 100%;
}

.bi-search {
    color: #CCCCCC;
}

.user {
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
}

.bi-person-circle {
    font-size: 1.75rem;
}

.bi-box-arrow-left {
    font-size: 1.75rem;
}

.toolsTitle {
    font-size: 1rem;
    color: #808191;
}

.tools ul {
    all: unset;
    display:flex;
    flex-direction:column;
    gap:1.25rem;
}

.tools ul li{
    display:flex;
    align-items:center;
    gap:1rem;
    color: #464957;
    font-size:0.875rem;
    list-style:none;
}

.tools li:hover > *{
    color:#0582ca;
}

.tools i {
    font-size: 1.5rem;
    color: #464957;
}

.tools a {
    color: #464957 !important;
    padding:0;
}

.tools a:hover {
    color:#0582ca !important;
}

h2{
    font-size:1.5rem;
    font-weight:400;
}


/*botões*/
.buttonsDiv {
    display: flex;
    justify-content: space-between;
}

.primaryButton {
    all: unset;
}

.primaryButton {
    background-color: #0582ca;
    color: white;
    padding: 0.3rem 1rem;
    text-align: center;
    font-size: 0.90rem;
    cursor: pointer;
    border-radius: 0.8rem;
    transition-duration: 0.4s;
    border: 2px solid #0582ca;
}

    .primaryButton:hover {
        background-color: white;
        color: black;
        border: 2px solid #0582ca;
    }

.backButton {
    background-color: gray;
    border: 2px solid gray;
}

    .backButton:hover {
        border: 2px solid gray;
    }


.mainLayout {
    /*width: 82%;*/
    margin-left: 17rem;
    margin-top: 6.5rem;
    padding-right: 2rem;
    height: 100%;

}

