/* Neste documento estão as configuração de exemplo usadas na página "modelo" para o site EDUCATUBE*/
/* Este documento seguirá ordem de organização semelhante a um documento HTML, head no topo seguida
 por body e assim por diante.
 Antes de cada parte relevante exitirá um comentário apontando à que se refere esta sessão. */

/* Estilo genério ou de uso em mais de uma página */

body {
    margin: -8px;
    height: 100vh;
    width: 100vw;
}

/* header */

header {
    display: flex;
    position: absolute;
    top: 0;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: rgb(8, 87, 243);
    z-index: 2;
    align-items: center;
}

.img-perfil-header {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    margin-left: 30px;
    margin-right: auto;
}

.btn-exit {
    width: 30px;
    height: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.btn-pomo {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.btn-calend {
    width: 30px;
    height: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.form-busca {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.btn-img-lupa {
    width: 25px;
    height: 25px;
    margin-left: 15px;
}

@media screen and (max-width: 480px) {
    .img-perfil-header {
        width: 100px;
        height: 100px;
        border-radius: 25px;
        background-color: white;
        margin-left: 30px;
        margin-right: auto;
    }

    .btn-exit {
        width: 90px;
        height: 90px;
        margin-right: 30px;
        margin-left: 30px;
    }

    .btn-pomo {
        width: 90px;
        height: 90px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .btn-calend {
        width: 90px;
        height: 90px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .form-busca {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .btn-img-lupa {
        width: 75px;
        height: 75px;
        margin-left: 15px;
    }

}

/* main */

main {
    z-index: 1;
    background-color: rgb(246, 246, 246);
    color: rgb(0, 51, 153);
    font-family: serif;
    font-size: 1.5rem;
    /* overflow-y: auto; */
}

@media only screen and (max-width: 480px) {}


/* footer */

/* Para que o footer se mantenha no final da página e não no final da tela este deve 
ficar dentro do div <main> no documento HTML, mas suas configurações estão descritas 
separadamente para facilitar leitura e entendimento. */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.text-rodape {
    max-width: 80%;
    min-width: 40%;
    max-height: 80%;
    font-size: 1rem;
}

.line-rodape {
    display: flex;
    border-color: darkblue;
    background-color: darkblue;
    border-radius: 1px;
    height: 1px;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}


@media only screen and (max-width: 480px) {}

/* Os estilos definidos neste documento servem de referência para a edição das demais páginas.*/