@model educa_tube_code.Models.Usuario

@{
    ViewData["Title"] = "Index";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/educa_tube_code.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/RecuperarSenhaStyle/RecuperarSenha.css" asp-append-version="true" />
</head>

<body>
    <header>
        <h1 class="styleTitleRecuperarSenha">Recuperar Senha</h1>
        <hr />
    </header>
    <div class="row">
        <div class="form-infos-cadastro">
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Enviar" class="btn btn-primary" />
                    <input type="submit" value="Voltar" asp-controller="Login" asp-action="Login" class="btn btn-primary" />

                </div>

            </form>
        </div>
    </div>



    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
